html{
	height: 100%;
	background-image: linear-gradient(#fff4e3,#ffcdab);
	background-repeat: no-repeat;
	font-family: sans-serif;
	color: #0f222d;
	background-size: auto;
}
  
  .main{
	width: 400px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: auto;
  }
  h1{
	text-align: center;
	color: #5d5d5a;
  }
  form{
	background-color: #fff;
	padding: 15px;
  }
  input[type="text"]{
	width: 310px;
	height: 30px;
	outline: 0;
	border: none;
	font-size: 1.5em;
	background: #fff;
	color: #2f4f4f;
  }
  button{
	font-size: 1.5em;
	color: #ffa45c;
	background-color: #fff;
	outline: 0;
	border: none;
	width: 50px;
  
  }
  .tasksBoard{
	background-color: #fff;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	display: none;
  
  }
  ul{
	list-style: none;
  }
  li{
	border-bottom: 1px solid #ffa45c;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 1.3em;
	color: #2f4f4f;
	position: relative;
  }
  a{
	float: right;
	text-align: right;
	color: #5d5d5a;
	font-size: 1.2em;
	cursor: pointer;
  }
  .delete{
	padding: 4.6px 9.8px;
	background: #ffa45c;
	border-radius: 100%;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	line-height: 20px;
	position: absolute;
	right: 0;
  }

  .delete:hover {
	  background: #5d5d5a;
  }

  @media (max-width: 500px) {
	.main{
	  margin: auto;
	  width: 100%;
	}
	input[type="text"]{
	  width: 80%;
	}
	button{
	  width: 10%;
	}
  }